$node-header-height: 20px;
$node-body-height: 40px;
$node-height: 60px;

.node {
  position: absolute;
  background-color: #232323;
  border-radius: 4px;
  cursor: move;

  .header {
    height: $node-header-height;
    line-height: $node-header-height;
    padding: 0 5px;
    color: #c2c2c2;
    font-size: 14px;
  }

  .body {
    height: $node-body-height;
    padding: 5px;
    position: relative;

    .connectionIn, .connectionOut {
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      top: 16px;
    }

    .connectionIn {
      background-color: #299463;
      left: 3px;
    }

    .connectionOut {
      background-color: #ce3434;
      right: 3px;
    }
  }
}
